{% extends "twitter/base.html" %}
{% block content %}
<h1>About Page</h1>
<p>Social network with internal messaging system, message aggregations and trend
    analysis based on user’s posts</p>
    <div class="row">
<div class="col card" style="width:400px">
    <div class="card-body">
        <h4 class="card-title">Gautam Jagdhish.M</h4>
        <p class="card-text">3rd year Undergrad at IIT Dharwad</p>
        <p>Email: gautamjagdhish@gmail.com</p>
        <a href="https://github.com/gautamjagdhish" class="btn btn-primary"  target="blank">Github</a>
    </div>
</div> 
<div class="col card" style="width:400px">
        <div class="card-body">
            <h4 class="card-title">Ashrith Kumar.P</h4>
            <p class="card-text">3rd year Undergrad at IIT Dharwad</p>
            <p>Email: ashrithkumarpeddi@gmail.com</p>
            <a href="https://github.com/peddiashrith" class="btn btn-primary"  target="blank">Github</a>
        </div>
    </div>  
</div>
{% endblock content %}