{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "View Message" %}</h2>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{ message.sender }}</h3>
        <div class="row">
            <div class="col"><h6>Subject : {{ message.subject }}</h6></div>
            <div class="col"><h6>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</h6></div>
        </div>
        {{ message.body|linebreaksbr }}<br /><br />

        {% ifequal message.recipient.pk user.pk %}
        <a class="btn btn-primary" href="{% url 'messages_reply' message.id %}">{% trans "Reply" %}</a>
        {% endifequal %}
        <a class="btn btn-danger" href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>

        {% comment %}Example reply_form integration
        {% if reply_form %}
        <h1>{% trans "Compose reply"%}</h1>
        <form action="{% url 'messages_reply' message.id %}" method="post">
            {% csrf_token %}
            <table>
                {{ reply_form.as_table }}
            </table>
            <input type="submit" value="{% trans "Send" %} &raquo;" />
        </form>
    </div>
</div>
{% endif %}
{% endcomment %}
{% endblock %}